.store-card{
    max-width: 500px;
    margin: auto;

}
    .address-street{
        width: 100%;
    }

    .address-state{
        width: 25%;
    }

    .address-city{
        width: 100%;
    }

    .address-zip{
        width: 60%;
        float: right;
    }

.mat-card
    .center-this-card{
        margin: auto;
    }

.store-details{
    border-left-width: 5px;
    border-left-color: #FF6A13;
    width: 20%;
    margin: auto;
    text-align: left;
}