<quote-menu></quote-menu>
<div class="background">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="welcome">Welcome Franchise Owner!</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <mat-list role="list" class="intro-list">
    <mat-list-item class="list-item" role="listitem">
      <mat-icon matListIcon class="white-icon">alarm_on</mat-icon>
      Get a quote in 5 minutes
    </mat-list-item>
    <mat-list-item class="list-item" role="listitem">
      <mat-icon matListIcon class="white-icon">work</mat-icon>
      Get Professional Help
    </mat-list-item>
    <mat-list-item class="list-item" role="listitem">
      <mat-icon matListIcon class="white-icon">beach_access</mat-icon>
      Let's go to the beach </mat-list-item>
  </mat-list>
  <form class="search-form">
    <mat-form-field class="search">
      <input matInput placeholder="Enter your store address to start your quote">
    </mat-form-field>
    <button class="start-button" mat-raised-button color="accent" routerLink="../quote">START QUOTE</button>
  </form>
  <br>
  <br>
</div>
<quote-footer></quote-footer>