<landing-menu></landing-menu>
<div class="background-1">
  <div class="welcome-window">
    <div class="welcome">
      <!--P>Let us help you choose the right coverage for your franchise</P-->
    </div>
    <div class="start-quote">
      <mat-card class="start-quote-card">
        <mat-card-content>
          <mat-form-field>
            <mat-select placeholder="Select your franchise">
              <mat-option value="lce">Little Caesars</mat-option>
              <mat-option value="burger" disabled>Burger Franchises</mat-option>
              <mat-option value="icecream" disabled>Ice Cream Shoppes</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-raised-button color="warn" routerLink="../littlecaesars/home" class="start-btn">START NOW</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<div class="aon-logo">
  <img src="/assets/images/AON_Rep.jpg">
</div>
<div class="need-insurance">
  <h2>Why do you need insurance?</h2>
  <div class="need-insurance-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel mi quis dolor maximus hendrerit. Donec sit amet
    ipsum ultrices, dictum erat ut, condimentum nisl. Quisque luctus euismod dapibus. Vestibulum at viverra ligula. Morbi
    accumsan purus interdum, lacinia dui a, cursus nisl. Interdum et malesuada fames ac ante ipsum primis.</div>
</div>
<br><br><br><br>
<div class="crum">
  Insurance provided by Crum &amp; Forster
</div>