.content{
    max-width: 100%;
    margin: auto;
}

ul.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
    li{
        float: right;
    }

.black-label{
    font-family: robotoFont;
}